.container {
  position: absolute;

  width: 260px;
  height: 200px;

  left: -260px;

  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.547);

  border-radius: 16px;

  z-index: 2;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.redirectBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  margin: 10px;
}
