.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  justify-items: center;

  padding: 20px;
}

.left_side img {
  height: 400px;
}

.right_side h3 {
  font-size: 30px;
}

.right_side h4 {
  opacity: 0.6;
  font-weight: 500;
  text-align: right;
}

.stats {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.stats > span {
  display: flex;
  align-items: center;

  opacity: 0.7;
}

.fillStar {
  fill: oklch(85.2% 0.199 91.936);
}
