.container {
  gap: 14px;
  display: flex;

  height: 80px;

  padding: 0px 16px;

  align-items: center;
  justify-content: end;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.link {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}

.link:nth-child(3):hover {
  transform: scale(1);
}
