.container {
  padding: 20px;

  display: grid;

  grid-template-columns: 1fr 1fr;
}

.side_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side_right input {
  height: 44px;
  border-radius: 16px;

  border: solid 0.5px;

  padding: 0px 10px;
}
